*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: gilroy;
    color: #fff;
}
html,body{
    height: 100%;
    width: 100%;
}

#main{
    height: 100%;
    width: 100%;
    background-color: #000; 
}
#nav{
    height: 140px;
    width: 100%;
    /* background-color: red; */
    display: flex;
    align-items: center;
    padding: 0 50px;
    justify-content: space-between;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#nav-prt2{
    display: flex;
    /* background-color: blue; */
    width: 50%;
    align-items: center;
    justify-content: space-between;
}
#nav h1{
    font-size: 20px;
    text-transform: capitalize;
    display: flex;
    align-items: center;
}
#nav i{
    font-size: 20px;
    margin-right: 5px;
}
#nav h5{
    font-size: 15px;
    font-weight: 600;
    text-transform: capitalize;
}
#nav img{
    height: 60px;
}
#line{
    width: 80px;
    height: 2px;
    background-color: red;
}
#content{
    height: calc(100% - 140px);
    width: 100%;
    /* background-color: lightblue; */
    display: flex;
    position: relative;
    justify-content: space-between;
}
#left{
    width: 36%;
    height: 100%;
    /* background-color: red; */
    padding: 100px 50px;
}
#right{
    width: 36%;
    height: 100%;
    /* background-color: red; */
    padding: 300px 100px;
}
#center{
    width: 26%;
    height: 100%;
    /* background-color:red; */
    padding-top: 60px;
}
#left h1{
    font-size: 65px;
    line-height: 65px;
    font-weight: 700;
    margin-bottom: 50px;
}
#left h1 span{
    color: red;
    font-weight: 600;
}
#left p{
    margin-bottom: 50px;
    font-size: 18px;
    width: 70%;
    line-height: 24px;
}
#left button{
    background-color: red;
    padding: 20px 42px;
    border-radius: 50px;
    font-size: 18px;
    display: flex;
    align-items: center;
    font-weight: 700;
}
#left button i{
    margin-right: 10px;
}
#center-bg{
    background-color: blue;
    height: 88%;
    width: 100%;
    border-top-left-radius: 1000px;
    border-top-left-radius: 1000px;
    border-top-right-radius: 1000px;
    background-image: url(https://imgs.search.brave.com/ojZ5WrSdPYHZj1erEbXponCoBhbOLiUAYHg3Cr0z3AA/rs:fit:860:0:0/g:ce/aHR0cHM6Ly9mdW5w/ZWVwLmNvbS93cC1j/b250ZW50L3VwbG9h/ZHMvMjAxNS8wMy9D/b2NhLUNvbGEtV2Fs/bHBhcGVyLUhELmpw/ZWc);
    background-size: 185%;
    background-position: 30% 40%;
    filter: blur(2px);
}

#content>img{
    height: 100%;
    position: absolute;
    z-index: 99;
    left: 49%;
    transform: translate(-50%,0);
}
#right-elems{
    /* background-color: red; */
    width: 350px;
}
#elem1{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 70px;
    opacity: 0.6;
    /* background-color: blue; */
    border-bottom: 1px solid #fff;

}
#elem1 h1{
    font-size: 24px;
    font-weight: 600;
}
#elem1 i{
    font-size: 24px;

}
#elem2 h1{
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 15px;
    padding-top: 15px;
}
#elem2 p{
    font-size: 12px;
    width: 80%;
    opacity: 0.6;
}